* {
    box-sizing: border-box;
    padding: 0;
    border-style: none;
    background: none;
    color: var(--primary);
    
}

:root {
    --primary: #ffc000;
    --secondary: #ffbf002a;
    --hover: #D94A64;
    --background: #0D0D0D;

    --divider: 30px;
}

html {
    height: 100%;
    background: var(--background);
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

#pomodoro-clock {
    height: 100vh;
    padding: 15vh 0 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

h1 {
    font-size: 18vh;
    margin: 2vh 0;
}

h2 {
    font-size: 6vh;
    text-align: center;
    margin: 0 20px;
}

h3 {
    text-align: center;
    font-size: 2.5vh;
    margin: 0 20px;
}

#time-left {
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.divider {
    width: 100%;
    height: var(--divider);
    border-bottom: 2px dashed var(--secondary);
    margin-bottom: var(--divider);
}

.timer-settings {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.timer-settings > * {
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* .timer-settings > * > * {
    background-color: lightcoral;
    width: 90%;
    

}

.timer-settings > * > * > * {
    background-color: lavender;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
} */

.times {
    display: flex;
    margin: 0 20px;
    align-items: center;
    justify-content: space-between;
}

#controls {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

button:focus {
    outline: 0;
}

button>svg {
    height: 5vh;
    fill: var(--primary);
}

button>svg:hover {
    fill: var(--hover);
    cursor: pointer;
}

.disabled>svg {
    fill: var(--secondary);
}

.disabled>svg:hover {
    fill: var(--secondary);
    cursor: default;
}

.inactive {
    display: none;
}





